.filter {
    border: 1px solid #DFE5EC;
    //border-radius: 5px;
    background-color: #FFFFFF;
    //background-color: transparent;
    font-family: 'Open Sans Bold';
    font-size: 12px;
    letter-spacing: 0.5px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

.filter:hover {
    background-color: #2196F3;
    color: rgb(255, 255, 255);
}

.filter:focus-visible {
    position: relative;
    outline: 2px solid #F4A68F;
}

.active {
    background-color: #2196F3;
    color: rgb(255, 255, 255);
}

@media (max-width: 511px) {
    .filters {
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        height: 50px;
    }

    .filter {
        flex-shrink: 1;
        flex-grow: 1;
        font-size: 9px;
    }

    .filter__left {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    
    .filter__middle {
        border-left: none;
        border-right: none;
    }
    
    .filter__right {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}

@media (min-width: 512px) and (max-width: 767px) {
    .filters {
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .filter {
        flex-shrink: 1;
        flex-grow: 1;
        height: 50px;
    }

    .filter__left {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    
    .filter__middle {
        border-left: none;
        border-right: none;
    }
    
    .filter__right {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}

@media (min-width: 768px) {
    .filters {
        width: fit-content;
        //width: 502px;
        //height: 50px;
        // top: 160px;
        // left: 355px;
        //border-radius: 5px;
        margin-bottom: 20px;
    }

    .filter {
        width: 168px;
        height: 50px;
    }

    .filter__left {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    
    .filter__middle {
        width: 166px;
        border-left: none;
        border-right: none;
    }
    
    .filter__right {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}